# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:              127.0.0.1
    database_port:              ~
    database_name:              symfony
    database_user:              root
    database_password:          ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path:            "%kernel.root_dir%/data.db3"

    mailer_transport:           smtp
    mailer_host:                127.0.0.1
    mailer_user:                noreply
    mailer_password:            ~

    # A secret key that's used to generate certain security-related tokens
    secret:                     ThisTokenIsNotSoSecretChangeIt
    mapbox_access_token:        ~
    map_center:                 ~
    url_source_code:            ~
    time_zone:                  Europe/Paris
    app_name:                   ~
    app_full_name:              ~
    app_description:            ~
    app_mail:                   ~
    app_address:                ~
    image_folder_association:   ~
    image_folder_event:         ~
    locale:                     fr_FR
    piwik_url:                  ~
    piwik_site_id:              ~
    facebook_page:              ~
    youtube_page:               ~
    diaspora_page:              ~
    instagram_url:              ~
    webmaster:                  ~
    website:                    ~
    web_host:                   ~
    newsletter_url:             ~
    environment:                ~
    