.center{
    margin:0 auto;
    text-align: center;
}
.bs-docs-footer{
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #99979c;
    background-color: #2780e3;
}
.bs-docs-footer a{
    color: white;
}
body{
    padding-bottom: 0;
}