{% extends "AppBundle:Design:design.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="second-main-color center">{{ "local_associations"|trans }}</h1>

        <!-- Wrapper for slides -->
        <p>
            <div class="row">
            	
                {% for association in associations %}
    				
                    <div class="col-sm-6 col-md-3">
                    	<a href="{{ url("app_association", {"id": association.id, "name": association.nameForURl}) }}" style=" text-decoration: none;">
                            <div class="thumbnail" style="height: 220px; padding: 0px; background-color: #43a2ca; padding-top: 10px;">
                                {% if association.picture is not empty %}
                                    <div class="img-association" style="
                        				background-image: url('{{ asset(association.picturePath) }}');
                        				position: relative;
                        				float: center;
                        				background-position: 50% 50%;
                        				background-size:     contain;">
                                    </div>
                                {% endif %}
                                <div class="caption" style="padding-bottom: 0px;">
                                	<h4 class="white" style="text-align: center;">{{ association.name }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </p>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}