{% extends "AppBundle:Design:design.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="second-main-color center">{{ "local_associations"|trans }}</h1>

        <!-- Wrapper for slides -->
        <p>
            <div class="row">
            	
                {% for association in associations %}
                    {% include 'AppBundle:Template:association.html.twig' with {'association': association} %}
                {% endfor %}
            </div>
        </p>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}