{% extends "AppBundle:Design:design.html.twig" %}

{% block content %}
    <div class="container">
        <h1>{{ "associations"|trans }}</h1>
        <ul>
            {% for association in associations %}
                <li>
                    <a href="{{ url("app_association", {"id": association.id, "name": association.nameForUrl}) }}">{{ association.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}